
// outer wrap of module- page
.object-wrap {
  display: flex;
  width: 100vw;
  //overflow-x: hidden;
}

// main content itself, without nav but with main header
.object {
  flex: 1 0 auto;
  width: 1px;
  //padding: 40px;
  //width: calc(100vw - 272px);
  //overflow: auto;
}

// inner content section
.object-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 65vh;
  padding: 38px 58px;
  background: #fff;
  border-radius: var(--border-radius);
}

// GRID TEMPLATE FOR MODULE INPUTS
.object-input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 8px;


}

.grid-w100 {
  .object-input-grid {
    grid-template-columns: 1fr;
  }
}

.grid-w50 {
  .object-input-grid {
    grid-template-columns: 50%;
  }

  &.object-input-grid {
    grid-template-columns: 50%;
  }
}

.value-pair {
  align-items: center;
  grid-template-columns: 1fr 1fr 24px;
  margin-bottom: 28px;
}

.module-new .object-input-grid .select-preview {
  margin-bottom: 20px;
}

.module-new {
  .new_w50 {
    width: 50%;

    .form-input {
      margin: 8px 0;
    }
  }

  &.object-with-tabs {
    padding-top: 28px;
    padding-left: 0;
    padding-right: 0;

    .tabs-inner-component {
      padding: 0 58px 38px 58px;
    }
  }
}
