@import "../../../../../node_modules/vue-select/src/scss/vue-select";

.dropdown-select {
  @extend .typo-input-text;
  position: relative;
}

.v-select {
  .vs__dropdown-toggle {
    height: 40px;
    padding: $input-padding;
    padding-right: 40px;
    border-color: $input;
    border-radius: $border-radius;
    transition: $transition;

    position: relative;

    &:before {
      position: absolute;
      top: 50%;
      right: 16px;
      font-family: 'icomoon';
      font-size: 24px;
      content: '\e01a';
      transform: translate(0, -50%);
    }

    &:hover:not(:disabled) {
      border-color: #000;

      input:focus::placeholder {
        color: transparent;
      }
    }
  }

  &.vs--open {
    .vs__selected {
      opacity: 0;
    }
  }

  .vs__selected-options {
    vertical-align: top;
    border-radius: $border-radius;

    .vs__selected {
      display: inline-block;
      max-height: 100%;
      margin: 0;
      word-break: break-all;
      overflow: hidden;
    }

    input {
      @extend .typo-input-text;

      padding: 0;
      margin: 0;
      border-radius: $border-radius;
      transition: $transition;

      &::placeholder {
        color: $input;
      }
    }

    &:hover .icon-icon_arrow-down {
      color: #000;
    }

    &.opened {
      //@extend .default-input:hover;
    }

    &.disabled {
      //@extend .default-input:disabled;

      input {
        background: transparent;
      }

      &:hover, &.empty:hover {
        border-color: $input;
        cursor: auto;
      }
    }
  }

  .vs__actions {
    position: relative;
    padding: 0;
    pointer-events: none;
    display: none;

    .vs__open-indicator {
      position: relative;
      opacity: 0;
    }
  }

  .vs__dropdown-menu {
    @extend .box-shadow;
    @extend .scrollbar;

    top: calc(100% + 8px);
    padding: 8px 0;
    margin-top: 8px;
    background: #fff;
    border: none;
    border-radius: 0;

    .vs__dropdown-option {
      @extend .typo-body-md;

      padding: 12px 16px 11px;
      word-wrap: break-word;
      overflow-x: hidden;

      &.vs__dropdown-option--selected, &.vs__dropdown-option--highlight, &:hover {
        color: #000;
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }
}


// inline edit (in-grid) styling
.inline-dropdown {
  .label, .input__details {
    display: none;
  }

  .v-select {
    .vs__dropdown-toggle {
      padding-left: 0;
      padding-right: 24px;
      border: none;

      &:before {
        right: 0;
      }

    }
    .vs__selected-options {
      width: 100%;
    }

    .vs__selected {
      padding-left: 0;
      margin-left: 0;
    }
  }
}

.vs__dropdown-menu {
   max-height: 200px;
 }
