@import "~@webitel/ui-sdk/src/css/main.scss";
@import "./styleguide/typography";

// PRIMARY COLORS:
$sidebar-color: #171A2A; // sidebar panel
$header-color: #EAEAEA; // header
$content-bg-color: #FFF; // content

// ACCENT COLORS:
$nav-icon-color: rgba(255, 255, 255, 1); //nav icon color
$icon-color: rgba(0, 0, 0, 0.3); //icon color
$accent-color: #FFC107; // links, icons, buttons

// SEMANTIC COLORS:
$true-color: #4CAF50;
$false-color: #FF4444;
$info-color: $accent-color;

// NEUTRAL COLORS:
//$label-color: rgba(0, 0, 0, 0.45);
$label-color: #000;
$input: #EAE9E9;
$input-disabled: rgba(0, 0, 0, 0.05);
$divider-color: rgba(0, 0, 0, 0.1);
$tag-background: rgba(255, 230, 156, 0.5);
$table-hover: #F9F9F9;

// OTHER
$input-padding: 11px 16px 7px;
$border-radius: 4px;
$transition: 0.2s;

* {
  font-family: 'Montserrat Medium', monospace;
}

//disables scrollbar on 100vh auth on small laptops
body {
  display: flex;
}

//reset ul styles
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

iframe {
  border: none;
  outline: none;
}

i {
  color: $icon-color;
  transition: $transition;
}

.mb-0 {
  margin-bottom: 0;
}

// helper class
.no-padding {
  padding: 0;
}

.tt-capitalize {
  text-transform: capitalize;
}

.box-shadow {
  //box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 3px 16px rgba(0, 0, 0, 0.12), 0px 9px 12px rgba(0, 0, 0, 0.14);
  box-shadow: rgba(0, 0, 0, 0.08) 0 8px 18px;
}

.icon-action {
  cursor: pointer;

  &:before {
    transition: $transition;
  }

  &:hover:before {
    color: #000;
  }
}

// helper underline class
.border-underline {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    height: 1px;
  }
}

.label {
  @extend .typo-input-label;

  position: relative;
  display: block;
  margin-bottom: 10px;
  color: $label-color;
  transition: $transition;

  .hint {
    position: absolute;
    bottom: -2px;
  }
}

.default-input {
  @extend .typo-input-text;

  display: block;
  width: 100%;
  /*different top and bottom padding to vertically align text*/
  padding: $input-padding;
  border: 1px solid $input;
  border-radius: $border-radius;
  outline: none;
  transition: $transition;

  &::placeholder {
    color: $input;
  }

  &:hover:not(:disabled) {
    border-color: #000;
  }

  &:focus {
    border-color: #000;

    &::placeholder {
      color: transparent;
    }
  }

  &:disabled {
    background: $input-disabled;
    border-color: $input;
  }
}

.invalid {
  color: $false-color;
  border-color: $false-color;
}

$srollbar-color: rgba(0, 0, 0, 0.1);
$srollbar-thumb-color: rgba(0, 0, 0, 0.3);

.scrollbar {
  // scrollbar itself
  &::-webkit-scrollbar {
    width: 10px;
    //background-color: $srollbar-color;
    cursor: pointer;
  }

  // scrollable element
  &::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: $srollbar-thumb-color;
    border-radius: $border-radius;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.value-pair-wrap {
  position: relative;
}

.value-pair {
  @extend .object-input-grid;

  align-items: center;
  grid-template-columns: 1fr 1fr 24px;

  i {
    @extend .icon-action;
  }
}
