@import "../main";

// auth pages wrap
.auth {
  display: flex;
  //width: 100vw;
  //padding: 0 !important;
  min-height: 100vh;
  background: #eee;

  .auth-form {
    width: 673px;
    padding: 50px 78px;
    //background: #f9f9f9;
    background: var(--main-page-bg-color);

    .object-content {
      min-height: auto;
    }
  }

  .auth-info {
    flex-grow: 1;
    color: #fff;
    background: $sidebar-color;
  }
}

.auth__form {
  position: relative;
  //width: 517px;
  background: #fff;
  z-index: 2;
}

.form__input {
  margin-bottom: 4px;
}

.form__button {
  display: block;
  min-width: 124px;
  margin: var(--component-spacing) 0 auto auto;
}

/*auth link*/
.auth__link {
  @extend .typo-heading-md;
  @extend .border-underline;

  position: relative;
  display: block;
  padding-bottom: 2px;
  text-decoration: none;
  color: #fff;

  &:before {
    bottom: 6px;
    height: 1.5px;
    background: #fff;
  }
}
