@import '../main';

.auth-form {
  position: relative;
  background: var(--main-color);
  z-index: 2;
}

.auth-form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--spacing-sm);
}

.auth-form-actions--link {
  color: var(--link-color);
  cursor: pointer;
}
